.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.title {
  flex-shrink: 0;
}

@media (orientation: landscape) {
  .title {
    display: none;
  }
}
